<?xml version='1.0' encoding='utf-8'?>
<widget id="com.agura.Maths"  
        xmlns="http://www.w3.org/ns/widgets" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        version="0.0.1" 
        versionCode="001" 
        android-versionCode="001">
    <name>Maths</name>
    <description>
        App para prueba de maths.
    </description>
    <author email="agusrafafer@gmail.com" href="http://www.agura.com.ar">
        Agura
    </author>
    <access origin="*"/>
    <content src="index.html" />
    <preference name="phonegap-version" value="cli-9.0.0" />
    <preference name="permissions" value="none" />
    <preference name="KeepRunning" value="true" /> 
    <preference name="exit-on-suspend" value="false" /> 
    <preference name="SplashScreen" value="screen"/>
    <preference name="SplashScreenDelay" value="4000" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="fullscreen" value="false" /> 
    <preference name="android-windowSoftInputMode" value="adjustResize|stateHidden" />
    <preference name="orientation" value="portrait" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <!--<preference name="android-targetSdkVersion" value="28" />
        <preference name="android-minSdkVersion" value="19" />
        <preference name="android-targetSdkVersion" value="26" />--> 
        <preference name="android-targetSdkVersion" value="28" />
        <preference name="android-minSdkVersion" value="19" />
        <allow-intent href="market:*" />
        <edit-config xmlns:android="http://schemas.android.com/apk/res/android" 
                     file="AndroidManifest.xml" mode="merge" target="/manifest/application"> 
            <application android:usesCleartextTraffic="true" /> 
        </edit-config>
        <edit-config xmlns:android="http://schemas.android.com/apk/res/android" 
                     file="AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:networkSecurityConfig="@xml/network_security_config" />
        </edit-config>
        <resource-file src="google-services.json" target="app/google-services.json" />
        <resource-file src="network_security_config.xml" target="app/src/main/res/xml/network_security_config.xml" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    
    
   <feature name="InAppBrowser"> 
        <param name="android-package" value="org.apache.cordova.inappbrowser.InAppBrowser"/>
    </feature>
    <feature name="InAppBrowser">
        <param name="ios-package" value="CDVInAppBrowser" /> 
    </feature>
    <feature name="InAppBrowser" />
    
    
    <plugin name="cordova-plugin-whitelist" source="npm" />
    <plugin name="cordova-plugin-inappbrowser" source="npm" />
    <plugin name="cordova-plugin-splashscreen" source="npm"/>
    <plugin name="cordova-plugin-fcm-with-dependecy-updated" source="npm"/>
    <plugin spec="https://github.com/katzer/cordova-plugin-local-notifications.git" />
    <!--<gap:plugin name="onesignal-cordova-plugin" spec="^2.4.1" source="npm" />-->
    
    
    
    <!--<icon src="mdpi.png" platform="android" qualifier="mdpi" />
    <icon src="hdpi.png" platform="android" qualifier="hdpi" />
    <icon src="xhdpi.png" platform="android" qualifier="xhdpi" />
    <icon src="xxhdpi.png" platform="android" qualifier="xxhdpi" />
    
    <gap:splash src="splash-hdpi.png" />
    
    
    <splash src="splash-ldpi.png" platform="android" qualifier="ldpi" />
    <splash src="splash-mdpi.png" platform="android" qualifier="mdpi" />
    <splash src="splash-hdpi.png" platform="android" qualifier="hdpi" />
    <splash src="splash-xhdpi.png" platform="android" qualifier="xhdpi" />-->
        
</widget>
