<ion-view title="Home" id="page1">
    <ion-content padding="true" class="has-header">
        <h4 id="home-heading1" style="color:#000000;">Prueba:</h4>
        <!--<form id="home-form3" class="list">
            <label class="item item-input" id="home-input4">
                <span class="input-label">Expresión LaTex/MathAscii:</span>
                <input type="text" placeholder="" ng-model="mathAscii.input">
            </label>
            <div class="spacer" style="width: 300px; height: 25px;"></div>
            <label class="item item-input" id="home-textarea2">
                <span mathjax-bind="mathAscii.input"></span>
            </label>
        </form>-->
        <ul ng-controller="homeCtrl">
            <li style="color: red;"><u>Ayuda: </u></li>
            <li>En <b>LaTex</b>: Envuelva su formula entre signo \$</li>
            <li>En <b>MathAscii</b>: Envuelva su formula entre signo `</li>
            <li><a ng-click="obtenerToken()" class="button button-positive button-block">Ver token</a></li>
            <li>{{ var.tokenFcm }}</li>
        </ul>
    </ion-content>
</ion-view>